<% @page_title = "Ironman: #{@year}" %>

<% unless @years.empty? %>	
<%= tabs do |tabs|
  for year in @years
	tabs.add(year, :year => year)
  end
end -%>
<% end %>  

<% if @ironman.nil? or @ironman.races.empty? %>
<p class="event_notes">No results for <%= @year %></p>
<% end %>

<% if @ironman && @ironman.races.first.results.present? %>

<h3><%= @ironman.date.year %> Ironman</h3>

<p class="event_notes">The Ironman Competition is a 'just for fun' record of the number of events riders do. 
There is no prize just identification of riders who need to get a life.</p>

<p class="created_updated">Updated <%= @ironman.updated_at.to_formatted_s(:long) %></p>

<%= will_paginate @results, :renderer => BootstrapPagination::Rails %>

<%= table :columns => 4, :class => "event_results" do %>
  <% result_columns = %w{ place name team_name points } %>
  <tr>
    <%- result_columns.map.each do |column| -%>
    <th class="<%= column %>"><%= result_header column %></th>
    <%- end -%>
  </tr>
  <%- @results.sort.each do |result| -%>
  <tr>
    <%- result_columns.each do |column| -%>
    <td<%= result_cell_class column %>><%= result_cell result, column %></td>
    <%- end -%>
  </tr>
  <%- end -%>
<%- end -%>

<%= will_paginate @results, :renderer => BootstrapPagination::Rails %>
<% end %>  
