<table class="base table table-striped<%= " #{style_class}" if style_class %>"<%= " id='#{id}_table'" if id %><%= " data-id='#{dataid}'" if dataid %>>
  <%- if insert_header -%>
  <thead>
    <tr>
      <% columns.times do -%><th>&nbsp;</th><%- end -%>
    </tr>
  </thead>
  <%- end -%>
  <tbody>
<%= body -%>
    <%- if body.blank? || collection.try(:empty?) -%>
    <tr>
      <td colspan="<%= columns %>" class="empty">None</td>
    </tr>
    <%- end -%>
  </tbody>
</table>
