<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
 
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= airbrake_javascript_notifier unless Rails.env.acceptance? %>

  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <%= yield :head %>
</head>
<body>
  <div class="container">
    <div class="hero-unit">
        <%= link_to RacingAssociation.current.name, "/", :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Results", results_path, :id => "results_link" %></li>
            <li><%= link_to "Schedule", schedule_path, :id => "schedule_link" %></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render :partial => "shared/tabs" %>
    <% if flash[:warn].present? %>
    <div class="row">
      <div class="span16">
        <div class="alert-message warning">
          <p><%= flash[:warn] %></p>
        </div>
      </div>
    </div>
    <% end %>

    <% if flash[:notice].present? %>
    <div class="row">
      <div class="span16">
        <div class="alert-message success">
          <p><%= flash[:notice] %></p>
        </div>
      </div>
    </div>
    <% end %>

<%= yield %>

    <footer>
      <p>
        <%= link_to RacingAssociation.current.short_name, "/" %> |
        <%= link_to "Logout", person_session_path, :method => :delete, :id => "account_link" %>
      </p>
    </footer>

    </div> <!-- /container -->
  <%= render :partial => "shared/auto_complete" %>
</body>
</html>

<% content_for :javascript_include_tag do -%>
  <%= javascript_include_tag "events" %>
  <%= javascript_include_tag "people" %>
<% end -%>
