<% @page_title = "Admin: Race: #{@race.name}" %>

<%= error_messages_for "race" %>

<h2><%= link_to_events(@race) %><%= @race.name %></h2>

<div class="race row">
  <%= form_for [:admin, @race] do |f| -%>
    <div class="left_column">
      <%= f.hidden_field :event_id %>
      <%= f.labelled_text_field :category_name, nil, :class => @race.new_record? ? "wants_focus" : "" %>

      <% if RacingAssociation.current.competitions.include?(:bar) -%>
      <%= f.labelled_text :bar_category, competition_category_name(@race), "BAR Category" %><br/><br/>
      <%= f.labelled_select :bar_points, bar_points_and_labels, :label => { :text => "BAR Points"}, :editable => administrator? %>
      <%- end %>

      <% if RacingAssociation.current.competitions.include?(:rider_rankings) -%>
      <%= f.labelled_text :bar_category, competition_category_name(@race), "Rankings Cat" %><br/><br/>
      <%= f.labelled_select :bar_points, bar_points_and_labels, :label => { :text => "Raking Pts"}, :editable => administrator? %>
      <%- end %>
    </div>

    <div class="right_column">
      <%= f.labelled_text_field :notes, nil, :editable => administrator? %>
      <%= f.labelled_text_field :field_size, "Field Size (#{@race.results.size})", :editable => administrator? %>
      <%= f.labelled_text_field :distance, nil, :editable => administrator? %>
      <%= f.labelled_text_field :laps, nil, :editable => administrator? %>
    </div>

    <div class="row with_buttons">
       <div class="info_for_buttons quiet">
         <%= "Updated: #{time_ago_in_words(@race.updated_at, true)} ago" if @race.updated_at.present? %>&nbsp;
       </div>
       <div class="buttons">
         <%= submit_tag "Save", :id => "save" %>
      </div>
    </div>
  <% end -%>    
</div>

<% if administrator? %>
<div class="row">
  <%= render :partial => "results", :locals => { :race => @race } %>
</div>

<% content_for :javascript_include_tag do -%>
  <%= javascript_include_tag "results" %>
<% end -%>
<% end -%>
