<% @page_title = "Schedule: #{@year}" %>

<%= render :partial => "years" %>
<%= render :partial => "disciplines", :locals => { :year => @year } %>
<%= render :partial => "tabs" %>

<h2><%= @year %> Schedule</h2>
<%= table :collection => @events, :columns => 7 do %>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="hidden-phone"></th>
      <th>Event</th>
      <th>Promoter</th> 
      <th class="hidden-phone">Phone</th>
      <th class="hidden-phone discipline">Discipline</th>
      <th class="hidden-phone">Location</th>
    </tr>
  </thead>
  <tbody>
<%- @events.each do |event| -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="date">
      <%= event.date.strftime("%a %_m/%d") if event.date -%>
    </td>
    <td class="beginner_friendly hidden-phone"><%= image_tag("icons/star_green.png") if event.beginner_friendly? %></td>
    <%- if event.cancelled %>
    <td class="hidden-phone"><span class="cancelled"><%= event.full_name -%></span> <i>cancelled</i></td>
    <%- elsif event.postponed? %>
    <td><span class="postponed"><%= event.full_name -%></span> <i>postponed</i></td>
    <%- else -%>
    <td class="link">
      <%- if event.flyer.present? && event.flyer_approved? -%>
          <a href="<%= event.flyer -%>"<%= "target='_blank'" if RacingAssociation.current.flyers_in_new_window? %>><%= event.full_name -%><%- if (!event.full_name.include?("MTB") and event.discipline == "Mountain Bike") -%>
          MTB
            <%- end -%></a>
            <%- else -%>
          <%= event.full_name -%><%= " MTB" if !event.full_name.include?("MTB") && event.discipline == "Mountain Bike" -%>
      <%- end -%>
      </td> 
  <%- end -%>
    <td><%= link_to_event_email event %></td> 
    <td class="contact_phone hidden-phone"><%= link_to_event_phone event %></td> 
    <td class="hidden-phone discipline"><%= event.discipline -%></td> 
    <td class="hidden-phone"><%= event.city -%></td>
  </tr>
  <%- end -%>
<% end -%>
</tbody>
