<% @event = Event.find(20405) %>

<!-- <div class="row-fluid">
  <div class="span6">
    <img src="http://www.obra.org/images/photos/dillon_caldwell.jpg" style="width: 100%" />
    <p style="text-align: left">
      <a href="http://obra.org/people/12189/2012">Jill Howe</a> did more than survive the <a href="/events/20394/results">Test of Endurance</a> - she won. Photo courtesy of <a href="http://www.oregonvelo.com/">OregonVelo</a>.
    </p>
  </div>
  <div class="span6">
    <% @event = Event.find(20405) %>
    
    <h3><%= @event.full_name %></h3>
    <table class="base table table-striped">
      <thead/>
      <tbody>
        <% @event.races_with_results.sort_by(&:name).each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.results.sort.first.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div> -->

<!-- <div class="row-fluid">
  <div class="span8">
    <img src="http://www.obra.org/images/photos/jill_howe.jpg" style="width: 100%" />
  </div>
  <div class="span4">
    <% @event = Event.find(20405) %>
    
    <h3><%= @event.full_name %></h3>
    <table class="base table table-striped">
      <thead/>
      <tbody>
        <% @event.races_with_results.sort_by(&:name).each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.results.sort.first.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div> -->

<div class="row-fluid">
  <div class="span12">
    <img src="http://www.obra.org/images/photos/amanda_atwill.jpg" style="width: 100%"/>
    <h3><%= @event.full_name %></h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <table class="base table table-striped">
      <thead/>
      <tbody>
        <% @event.races_with_results[0, 4].sort_by(&:name).each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.results.sort.first.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="base table table-striped">
      <thead/>
      <tbody>
        <% @event.races_with_results[4, 3].sort_by(&:name).each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.results.sort.first.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="base table table-striped">
      <thead/>
      <tbody>
        <% @event.races_with_results[7, 3].sort_by(&:name).each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.results.sort.first.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= upcoming_events_table @upcoming_events %>
  </div>
  <div class="span6">
    <%= render_page "home/recent_results" %>
  </div>
</div>
