<div class="tabs">
  <%= link_to "All", :discipline => nil %>
  <%= link_to "Road", :discipline => "road" %>
  <%= link_to "Criterium", :discipline => "criterium" %>
  <%= link_to "Time Trial", :discipline => "time_trial"  %>
  <%= link_to "Track", :discipline => "track" %>
  <%= link_to "Cyclocross", :discipline => "cyclocross" %>
  <%= link_to "Mountain Bike (XC)", :discipline => "mountain_bike" %>
  <%= link_to "Downhill", :discipline => "downhill" %>
</div>
