<% @page_title = "Results: #{@year}" %>

<div class="row-fluid">
  <div class="span12">
    <%= render_page "schedule/years" %>
    <%= render :partial => 'disciplines' %>
  </div>
</div>

<h2><%= @year %> Results</h2>
<%= table do %>
  <%- @events.sort_by!(&:date).each do |event| -%>
  <tr>
    <td class="date"><%= event.short_date %></td>
    <td><%= link_to event.name, event_results_path(event) %></td>
  </tr>
  <% end -%>
<% end -%>
