<% @page_title = "Results: #{@year}" %>

<%= render_page "schedule/years" %>

<%= render :partial => 'disciplines' %>

<%= table :caption => "#{@year}&nbsp;Results".html_safe do %>
  <%- @events.sort_by!(&:date).each do |event| -%>
  <tr>
    <td class="date"><%= event.short_date %></td>
    <td><%= link_to event.name, event_results_path(event) %></td>
  </tr>
  <% end -%>
<% end -%>
