<% @page_title = "Results: #{@person.name}: #{@event.full_name}" %>

<%# TODO Use helper/partial? %>
<h2><%= link_to(@person.name, person_results_path(@person)) %></h2>

<%- @results.sort { |x, y| y.date <=> x.date }.each do |result| -%>
<h3><%= result.place.to_i.ordinalize %> &mdash; <%= link_to(result.race_full_name, event_results_path(@event, :anchor => "race_#{result.race_id}")) %></h3>
<%= table :class => "results" do %>
  <tr>
    <th class="place">&nbsp;</th>
    <th class="event">Event</th>
    <th class="category">Category</th>
    <th class="team">Team</th>
    <th class="date">Date</th>
    <th class="points">Points</th>
  </tr>
  <% result.scores.sort { |x, y| y.source_result.date <=> x.source_result.date }.each do |score| %>
  <tr class="<%= cycle "even", "odd" %>">
    <td class="place"><%= score.source_result.place %></td>
    <td clas="event">
      <%= link_to(score.source_result.event_full_name, 
                  event_results_path(
                    :event_id => score.source_result.event_id, 
                    :anchor => "race_#{score.source_result.race_id}")
                  ) unless score.source_result.competition_result? %>
      <%= link_to(score.source_result.race_full_name, 
                  event_person_results_path(
                    :event_id => score.source_result.event_id, :person_id => @person.id, :anchor => "race_#{score.source_result.race_id}")
                  ) if score.source_result.competition_result? %></td>
    <td class="category"><%= score.source_result.race_name %></td>
    <td class="team">
      <%- if RacingAssociation.current.unregistered_teams_in_results? || 
             score.source_result.team.try(:member?) || 
             score.source_result.year < RacingAssociation.current.year -%>
      <%= score.source_result.team_name %>
      <%- end -%>
    </td>
    <td class="date"><%= score.source_result.event.date.strftime("%D") %></td>
    <td class="points"><%= number_with_precision(score.points, :precision => 1) %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="5"></td>
    <td class="total_points"><span class="total">TOTAL</span><%= number_with_precision(result.points, :precision => 1) %>&nbsp;&nbsp;<%= result.notes %></td>
  </tr>
<% end -%>
<%- end -%>

<%# TODO Add year param %>
<p>
  See all results for <%= link_to(@person.name, person_results_path(@person), :class => 'obvious') %> or the
  <% if @event.is_a?(Ironman) %>
    <%= link_to(@event.name, {:controller => 'ironman', :action => 'index', :year => @event.date.year}, :class => 'obvious') %>.
  <% else %>
    <%= link_to(@event.full_name, event_results_path(@event), :class => 'obvious') %>.
  <% end %>
</p>
