<% @page_title = "Results: #{@person.name}: #{@year}" %>

<%= render_page "person_years", :locals => { :person => @person } %>

<h2><%= @person.name %></h2>
<%= table :class => "results", :id => "person_results", :collection => @event_results, :columns => 4 do %>
  <tr>
    <th class="place">&nbsp;</th>
    <th class="event">Event</th>
    <th class="category">Category</th>
    <th class="date hidden-phone">Date</th>
  </tr>
  <% @event_results.sort_by(&:event_end_date).reverse.each do |result| -%>
  <tr>
    <td class="place"><%= result.place %></td>
    <td class="event"><%= link_to(result.event_full_name, event_results_path(:event_id => result.event_id, :anchor => "race_#{result.race_id}")) %></td>
    <td class="category"><%= result.race_name %></td>
    <td class="date hidden-phone"><%= result.event_date_range_s %></td>
  </tr>
  <%- end -%>
<% end -%>

<% @competition_results.sort_by(&:event_end_date).reverse.each do |result| %>
<h3><%= link_to("#{result.place.to_i.ordinalize} &mdash; #{result.race_full_name}".html_safe, event_results_path(:event_id => result.event_id, :anchor => "race_#{result.race_id}"))).html_safe %></h3>
<%= table :class => "results" do %>
  <tr>
    <th class="place">&nbsp;</th>
    <th class="event">Event</th>
    <th class="category">Category</th>
    <th class="date hidden-phone">Date</th>
    <th class="points hidden-phone">Points</th>
  </tr>
  <%# FIXME Add test for rendering this page with lots of results %>
  <% result.scores.sort_by(&:date).each do |score| %>
  <tr>
    <td class="place" width="24"><%= score.source_result.place %></td>
    <td class="event">
      <%= link_to(score.source_result.event_full_name, 
                  event_results_path(:event_id => score.source_result.event_id, 
                  :anchor => "race_#{score.source_result.race_id}")) unless score.source_result.competition_result? %>
      <%= link_to(score.source_result.race_full_name, 
                  event_person_results_path(:event_id => score.source_result.event_id, :person_id => @person.id, 
                  :anchor => "race_#{score.source_result.race_id}")) if score.source_result.competition_result? %></td>
    <td class="category"><%= score.source_result.race_name %></td>
    <td class="date hidden-phone"><%= score.source_result.event_date_range_s %></td>
    <td class="points hidden-phone"><%= number_with_precision(score.points, :precision => 1) %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td class="hidden-phone"></td>
    <td class="hidden-phone"></td>
    <td class="total_points"><span class="total">TOTAL</span><%= number_with_precision(result.points, :precision => 1) %></td>
  </tr>
<% end -%>
<% end %>

<% if @person.member? %>
<p class="created_updated">
  Member since <%= @person.member_from.to_s(:long) %>
</p>
<% end -%>