<% @page_title = "Results: #{@team.name}" %>

<%= render_page "results/team_years", :locals => { :team => @team } %>

<h2><%= @team.name %></h2>
<%= table :class => "results", :id => "team", :collection => @results, :columns => 5 do %>
  <tr>
    <th class="place">&nbsp;</th>
    <th class="event">Event</th>
    <th class="category">Category</th>
    <th class="name">Person</th>
    <th class="date">Date</th>
  </tr>
  <%- @results.sort_by(&:event_end_date).reverse.each do |result| -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="place"><%= result.place %></td>
    <td class="even"><%= link_to(result.race_full_name, event_results_path(:event_id => result.event_id)) %></td>
    <td class="category"><%= link_to(result.race_name, event_results_path(:event_id => result.event_id, :anchor => "race_#{result.race_id}")) %></td>
    <td class="name"><%= link_to_results result.name, result %></td>
    <td class="date"><%= result.event_date_range_s %></td>
  </tr>
  <%- end -%>
<%- end -%>
