<h3><%= caption %></h3>
<%= table :class => "no_top_margin", :id => "upcoming_events" do %>
  <%- if upcoming_events.empty? -%>
  <tr><td>No upcoming events in the next <%= pluralize(upcoming_events.weeks, "week") %> </td></tr>
  <%- end -%>

  <%- upcoming_events.disciplines.each do |discipline| -%>
    <%= discipline_upcoming_events(discipline, upcoming_events) %>
  <% end -%>

  <tr>
    <td colspan="3"><%= footer %></td>
  </tr>
<% end -%>