<% @page_title = "Login" %>
<% @show_tabs = false %>

<div class="login">
  <%= form_for :person_session, :url => person_session_path do |f| %>
  <div class="row">
    <div class="form">
      <%= f.error_messages :header_message => nil, :message => nil %>
      <div>
        <%= f.labelled_text_field :login, nil, :class => @person_session.login.blank? ? "wants_focus" : "" %>
        <%= f.labelled_password_field :password, nil, :class => @person_session.login.blank? ? "" : "wants_focus" %>
      </div>
    </div>
    <div class="options">
      <p>
        <strong>Don't Have a Login Yet?</strong>
        <%= link_to "Create a login", 
              people_new_login_path(:return_to => session[:return_to]), 
              { :class => "obvious", :id => "new_login" } %>
      </p>

      <p>
        <strong>Forgot Your Password?</strong>
        <%= link_to "Request a reminder", new_password_reset_path, { :class => "obvious forgot", :id => "forgot" } %>
      </p>

      <% if @person_session.errors.any? %>
      <p>
        You'll need to allow cookies to login
      </p>
      <% end -%>
    </div>
  </div>
  <div class="row with_buttons">
    <div class="buttons">
      <%= f.submit "Login", :id => "login_button" %>
    </div>
  </div>
  <% end -%>
</div>
