<h3>Aliases</h3>
<%= table :class => "aliases", :insert_header => true, :columns => 2 do %>
  <%- @person.aliases.each do |name_alias| -%>
  <tr id="alias_<%= name_alias.id %>">
    <td><%= name_alias.name %></td>
    <td class="actions">
      <%= link_to(
           admin_person_alias_path(@person, name_alias),
           :method => "delete",
           :remote => true,
           :class => "icon") do %>
      <i class="icon-minus-sign"></i>
     <% end %>
    </td>
  </tr>
  <%- end -%>
  <%- if @person.aliases.empty? %>
  <tr>
    <td colspan="2">None</td>
  </tr>
  <%- end -%>
<% end -%>

<% unless @person.names.empty? -%>
<h3>Names</h3>
<%= table :class => "names", :insert_header => true, :columns => 3 do %>
  <%- @person.names.each do |name| -%>
  <tr id="name_<%= name.id %>">
    <td><%= name.name %></td>
    <td><%= name.year %></td>
    <td>
    </td>
  </tr>
  <%- end -%>
<% end -%>
<% end -%>
