<%= content_tag :tr, :class => "#{cycle("even", "odd")} team_row", :id => "team_#{team.id}_row", "data-id" => team.id do %>
  <td class="icon"><i class="icon-th" id="<%= team.id %>" data-name="<%= team.name %>" data-id="<%= team.id %>"></i></td>
  <td class="name">
    <%= editable team, :name %>
  </td>
  <td class="not_editable">
    <%= render :partial => "aliases", :locals => { :team => team } %>
  </td>
  <td class="check_box">
    <%= render :partial => "shared/member", :locals => { :record => team } %>
  </td>
  <td class="actions not_editable">
    <%= link_to "Results", team_path(team), :id => "show_#{team.id}" %>
    <%= link_to "Edit", edit_admin_team_path(team), :id => "edit_#{team.id}" %>
  </td>
<% end -%>
